<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846247242261-t28pobf612ibc63q0tdt62s3cbdfelt5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846247242261-t28pobf612ibc63q0tdt62s3cbdfelt5</string>
	<key>API_KEY</key>
	<string>AIzaSyAnKWWb35LZQMu0pOYIuudKOi31xLKeedA</string>
	<key>GCM_SENDER_ID</key>
	<string>846247242261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emirhankarahan.ASIS</string>
	<key>PROJECT_ID</key>
	<string>asis-168dd</string>
	<key>STORAGE_BUCKET</key>
	<string>asis-168dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846247242261:ios:80ddd367c2a87f3cd37c1c</string>
</dict>
</plist>